# Python cache files
__pycache__/
*.py[cod]

# SQLite database
db.sqlite3

# Virtual environment folders
env/
venv/

# Secret environment files
.env

# Editor settings and logs
.vscode/
*.log

# Django migrations cache
**/migrations/__pycache__/
